* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, sans-serif; */
    font-family: "Lato", sans-serif;
}

.top-bar {
    background: black;
    color: white;
    text-align: center;
    padding: 18px;
    font-size: 14px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;
    position: sticky;
    top: 0;
    background: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navi{
    display: flex;
}

.navigations{
    display: flex;
    justify-content: left;
    gap: 50px;
    list-style: none;
       
}

.navigationss{
    display: flex;
    justify-content: right;
    gap: 50px;
    list-style: none;
}

nav li {
    list-style: none;
}

a {
    Text-decoration: none;
    color: #111;
    font-weight: 700;
}

.icons-head {
    display: flex;
    gap: 30px;

}

a:hover {
    color: red;
}

.hero {
    height: 100vh;
    background: url("./image/h1_hero1.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text h4 {
    color: red;
    font-size: 20px;
}

.hero-text h1 {
    font-size: 52px;
    margin: 10px 0;
}

.hero-para {
    text-align: center;
}

.hero-text button {
    width: 173px;
    padding: 12px 25px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    /* margin-left: 38%; */
}

.categories {
    display: flex;
    gap: 20px;
    padding: 60px;
}

.cat-card {
    flex: 1;
    height: 350px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    color: white;
    font-size: 22px;
}

.trending {
    padding: 60px;
    text-align: center;
}

.products {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.product {
    width: 30%;
}

.product img {
    width: 100%;
}

.product span {
    text-decoration: line-through;
    color: gray;
    margin-left: 8px;
}

.trending-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.testimonial {
    background: #f4ecd8;
    padding: 80px;
    text-align: center;
    line-height: 30px;

}

.img-testimonial {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.heading-testimonial {
    font-size: 40px;
}

.trending-head {
    padding: 25px;
    font-size: 35px;
}

.trending-head4 {
    padding: 40px;
}

.news {
    text-align: center;
}

.lat {
    background: #f4ecd8;
    padding: 20px;
}

.latest {
    padding: 60px;
}

.icons {
    display: flex;
    gap: 100px;
    padding: 100px;
    justify-content: center;
}

.icons-text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
    color: #2B2B2B;
}

.newsletter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 30px; */
    background: #111;
    color: white;
    text-align: center;
    padding: 60px;

}

.new {
    background: #111;
    color: white;
    text-align: center;
    padding: 60px;
}

.newsletter input {
    padding: 20px 30px;
    width: 400px;
}

.newsletter button {
    padding: 20px 30px;
    background: red;
    border: none;
    color: white;
    margin-left: 10px;
}

.foot {
    display: flex;
    justify-content: space-around;
    background: #111;
    color: white;
    padding: 80px;
}

.end {
    text-align: center;
    background: #111;
    color: white;
    padding: 20px;
}

.fafa-icons {
    display: flex;
    /* justify-content: end; */
    /* padding: 20px;   */
    gap: 30px;

}